<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174973245157-bs5f84vvt5t2m02ab498q8rlbdtru44m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174973245157-bs5f84vvt5t2m02ab498q8rlbdtru44m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174973245157-ic1v7sti3uuupeagg2df1vnl50vsdu7r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBElIJfWTAJEm5_52ZWHMrN1DpdLDSMpSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>174973245157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kostylsystems.lmc</string>
	<key>PROJECT_ID</key>
	<string>coral-airlock-245512</string>
	<key>STORAGE_BUCKET</key>
	<string>coral-airlock-245512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174973245157:ios:3c5b6b79a78f77a2</string>
	<key>DATABASE_URL</key>
	<string>https://coral-airlock-245512.firebaseio.com</string>
</dict>
</plist>